/*
Thuộc tính border-radius: bo góc
THuộc tính mở rông:
-
*/

.box {
    /* width: 400px;
    height: 400px; */
    border: 5px solid red;
    border-radius: 50px;
}
.btn {
    background-color:aqua;
    color: #FFF;
    border: none;
    width: 100px;
    height: 35px;
    border-radius: 999px;
    cursor: pointer;
}
.btn-outline {
    background-color: transparent;
    color: aqua;
    border: 2px currentColor solid;
    width: 100px;
    height: 35px;
    border-radius: 999px;
    cursor: pointer;
}
.btn-outline:hover {
    background-color: red;
    color: #FFF;
}