.btn {
    display: block;
    position: relative;
    padding: 20px 50px;
    border-radius: 999px;
    border: none;
    background-color: green;
    margin-left: 200px;
    margin-top: 50px;
    /* transition: background 1s linear; */
    color: white;
    overflow: hidden;

}

.btn::before {
    content: '';
    position:absolute;
    background-color: palevioletred;
    left: 0;
    top: 0;
    bottom: 0;
    right: 100%;
    transition: right 1s linear;
    
    
}
.btn span {
    position: relative;
}
.btn:hover::before {
    right: 0;
}

