.switch{
    display: block;
    position: relative;
    width: 100px;
    height: 30px;
    background-color: gray;
    border-radius: 999px;
    margin: 50px auto;
   overflow: hidden;
}
.toggle {
    position: absolute;
    width: 30px;
    height: 28px;
    background-color: #fff;
    top: 1px;
    left: 1px;
    border-radius: 50%;
    transition: left 0.5s linear;
    z-index: 1;
}
input:checked + .toggle {
    left: calc(100% - 30px);
}

.switch .bg {
    position: absolute;
    inset: 0;
    transition: background 0.5s linear;
}
input:checked ~ .bg {

    background: green;
}