/*
Thuộc tính font-family: Thay đổi font chữ cho văn bản
Cú pháp: font-family: tenfont1, tenfont2,...

Lưu ý: 
-Nếu tên font có khoảng trắng --> Thêm vào cặp ""
-Trong thuộc tính font-family sẽ có các giá trị đại diện cho họ font
+serif : Họ có chân
+san-serif: Họ không chân
+Thuộc tính text-decoration: Thay đổi thuộc tính gạch ngang ở văn bản
none --> không có gạch ngang
underline --> gạch dưới
overline--> Gạch trên
line-through --> gạch giữa
Thuộc tính text-transform : biến đổi kiểu chữ (chữ hoa, chữ thường)
+none --> giữ nguyên bản gốc
+uppercase --> chữ hoa
+lowercase --> chữ thường
capitalize --> ký tự đầu mỗi từ
Thuộc tính letter-spacing: Khoảng cách giữa mỗi ký tự
Thuộc tính word-spacing: Khoảng cách giữa mỗi từ

Thuộc tính text-align: Căn chỉnh văn bản theo chiều ngang
-left --> trái
-center --> giữa
-right --> phải
-justify --> căn đều 2 bên
*/
@font-face {
    font-family: "SVN";
    src: url("./font/SVN-Fontbox-Boathouse-Filled.otf");
}

@font-face {
    font-family: "Lato";
    src: url("./font/Lato-BoldItalic.ttf");
    font-weight: 400;
    
}
@font-face {
    font-family: "SVN";
    src: url("./font/Lato-Italic.ttf");
    font-weight: 300;
}

body{ 
    border: 1px solid red;
    font-family: "Open Sans";
    font-weight: 500;
    text-decoration: underline red;
    text-transform: capitalize;
    /* letter-spacing: 3px; */
   
    word-wrap: break-word;
    text-align: justify;
    text-align-last: center;


}
