/*
thuộc tính overflow: xử lý nội dung bị tràn
-visible
-hidden
-scroll
-auto
*/

.box{
    width: 200px;
    height: 200px;
    border: 1px solid rgb(144, 186, 221);
    overflow: scroll;
    overflow-x: hidden;
}