* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url("./../assets/login-bg2.jpg");
  font-family: "Nunito";
  color: #717171;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  width: 60%;
  margin: 0 auto;
  margin-top: 200px;
  background-color: #ff574d;
  display: flex;
  border-radius: 12px;
}
.left-content {
  margin-top: 50px;
  width: 40%;
  padding: 10px;
}
.left-content span {
  display: inline-block;
  padding: 3px 7px;
  background-color: white;
  border-radius: 3px;
  color: #ff574d;
}
.left-content h2 {
  color: white;
  text-align: center;
}
.left-content p {
  margin-top: 20px;
  text-align: center;
  color: white;
}
.left-content .read-more {
  display: inline-block;
  margin-top: 20px;
  margin-left: 100px;
  padding: 5px 25px;
  border-radius: 5px;
  background-color: white;
  color: #ff574d;
}
.icon {
  margin-top: 20px;
  margin-left: 90px;
}
.icon ul {
  display: flex;
  padding: 0;
}
.icon a {
  display: inline-block;
  padding: 8px;
  color: white;
}
.right-content {
  width: 60%;
  padding: 30px;
  background-color: white;
  border-radius: 0px 12px 12px 0px;
}
.right-content h2 {
  text-align: center;
}
.under-line {
  width: 50px;
  height: 0;
  border-bottom: 3px solid red;
  margin-top: 10px;
  margin-left: 220px;
}
.right-content .input {
  margin-top: 20px;
  width: 100%;
  height: 50px;
}
.input::placeholder {
  padding-left: 10px;
}
.check-box {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.check-box span {
  margin-left: -230px;
}
.check-box a {
  color: #717171;
}
button {
  width: 100%;
  height: 35px;
  margin-top: 15px;
  background-color: #ff574d;
  color: white;
  font-weight: 500;
  font-size: large;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.register {
  margin-top: 15px;
  text-align: center;
}
.register a {
  color: #717171;
  margin-left: 5px;
}
.arrow {
  color: red;
  display: inline;
  padding: 8px 10px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 380px;
  left: 660px;
  box-shadow: 2px 2px gainsboro;
}
