* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

a {
  text-decoration: none;
}

.menu {
  font-size: 0;
  margin-left: 50px;
  margin-top: 10px;
  border: 1px solid;
  display: inline-block;
}
ul li {
  list-style: none;
}
.menu > li {
  display: inline-block;
  margin: 0;
  position: relative;
}
.menu > li:last-child {
  margin-left: 500px;
}
.menu > li:nth-child(3):hover {
  background-color: #2da5da;
}
.menu > li:nth-child(3):hover .sub-menu {
  display: block;
}
.menu .item > a {
  display: inline-block;
  padding: 10px;
  border: 1px solid;
  font-size: initial;
}

.sub-menu {
  position: absolute;
  background-color: white;
  top: 50px;
  width: 140px;
  border: 1px solid;
  display: none;
  box-shadow: 5px 5px #ccc;
}
.sub-menu a {
  display: block;
  color: #333;
  padding: 8px 16px;
  border-bottom: 1px solid;
  font-size: initial;
}

.box {
    
  width: 0px;
  height: 0px;
  border: 12px solid;
  border-color: transparent transparent white transparent;
  position: absolute;
  top: -20px;
  left: 20px;
}
