body {
    color: red;
}
@media screen and (max-width:1199.98px) {
    body {
        color: green;
    }
}
@media screen and (max-width:767.98px) {
    body {
     background: yellow;
    }
    h1 {
        display: none;
    }
}