// Biến trong scss
//Khai báo
// $tenbien: gia tri;
// Biến trong scss nhận: giá trị thuộc tính, số, true, false, list (Giống mảng trong các ngôn ngữ lập trình khác), chuỗi

$primaryColor: blue; // Quy tắc đặt tên camelCase
$headerBackgroundColor: yellow;
$font: Roboto,sans-serif;
$size:10;
:root {
    --primary-color : green;
}

.header {
    $headerSpace:30px; //Biến cục bộ
    $property:font-style;
    padding: $headerSpace 0;
    border: 1px solid #ccc;
    color: $primaryColor;
    .header-inner {
        background: gray;
        font-size: $size +5px;
        #{$property}: italic;
        .logo{
            width: 200px;
        > img {
            max-width: 100%;
            height: auto;
        }
        a{
            text-decoration: none;
            &:hover{
                color: red;
                &::before{
                    color: green;
                }
            }
            &::before {
                content: "a";
            }
            &::after {
                content: "b"
            }
        }

        }
    }
   
    
}


//Biến sẽ lưu giá trị chuỗi
$selector: ".column";
$value: 5;
//.colum-5
// #{$selector}-#{$value} {
//     width: 5%;
// }
#{$selector + "-" + $value}{
    width: 50%;
    font-size: 5 % 2px;
}
// Toán tử: +, -, * , /, % (chia lấy dư)
