/*
Thuộc tính float: trôi các thẻ html về phía bên trái hoặc phải của thẻ cha
-none
-left
-right
Thuộc tính clear: ngăn ko cho các thẻ html bị trôi bởi float
điều kiện: chỉ hoạt động với block
*/
.box {
    border: 1px solid red;
    width: 400px;
    margin: 30px auto;
    overflow: auto;
   
}
.box .item-1 {
    width: 20%;
    height: 100px;
    background-color: green;
    float: left;
}
.box .item-2 {
    width: 20%;
    height: 100px;
    background-color: red;
    float: left;
    
}
.box .item-3 {
    width: 20%;
    height: 100px;
    background-color: blueviolet;
    float: left;
}
/* .text {
    clear: both;
} */
a {
    background-color: green;
}